* {
  box-sizing: inherit;
}

html {
  display: block;
  color: -internal-root-color;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  display: block;
  margin: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  color: #9f9e9e;
  font-family: gordita,Helvetica,Arial,Verdana,sans-serif;
  font-weight: 400;
  font-size: inherit;
  line-height: 1.5;
  height: 100%;
  position: relative;
  z-index: 1;
  min-height: 80vh;
  max-width: 1440px;
  margin: 0 auto;
}

body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}


